# HackerEarth Machine Learning challenge: Will your employees leave you?

![Alt_txt](https://images.g2crowd.com/uploads/product/image/social_landscape/social_landscape_b55178f3207d0d07be80140a41732c6f/hackerearth.png)

## **Problem statement**

Employees certainly are the most important asset of an organization. They are the ones working behind the scenes to ensure that your business functions seamlessly like a well-oiled machine. Hiring the best fit for an organization and ensuring that they stick with the company are two sides of the same coin. Employee attrition not only may lead to a minor hitch in the system, but it is also a major cost to the organization.

The Human Resources department of your organization is determined to predict the employee attrition rate in advance and put a corrective plan of action in place. As a Machine Learning Specialist, the HR team has requested you to build a sophisticated model that predicts the organizationâ€™s attrition rate.

## **Dataset**

The dataset consists of various details such as gender and age of the employee, education and relationship status, pay scale, and other factors that may influence the attrition rate.

The benefits of practicing this problem by using Machine Learning techniques are as follows:

This challenge will encourage you to apply your Machine Learning skills to build models that can predict employee attrition rates.
This challenge will help you enhance your knowledge of regression. Regression is one of the basic building blocks of Machine Learning.

In [27]:
#Importing Required Number of Libraries
#Importing Required Libraries
#_______________________________________________________________________________________________________________
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.style as style # for styling the graphs
#_______________________________________________________________________________________________________________
# style.available (to know the available list of styles)
style.use('ggplot') # chosen style
plt.rc('xtick',labelsize=13) # to globally set the tick size
plt.rc('ytick',labelsize=13) # to globally set the tick size
# To print multiple outputs together
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
# Change column display number during print
pd.set_option('display.max_columns', 500)
# Ignore warnings
import warnings
warnings.filterwarnings('ignore')
# To display float with 2 decimal, avoid scientific printing
pd.options.display.float_format = '{:.2f}'.format
import seaborn as sns
import warnings
# To display float with 2 decimal, avoid scientific printing
pd.options.display.float_format = '{:.2f}'.format
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.model_selection import train_test_split
from tqdm.notebook import tqdm
#from reg_resampler import resampler
from imblearn.over_sampling import SMOTE

In [28]:
path='./Best_Features_Train.csv'
path1='./Best_Features_Test.csv'

In [29]:
train=pd.read_csv(path)
train

,Unnamed: 0,Age,Time_of_service,growth_rate,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,Unit_counts,Attrition_rate,Avg_growth_Age,Avg_Service_growth,Education_Pay_scale,Education_Post_Level,Post_Compensation,Avg_units_growth,Gender_growth,Avg_growth_Decision_Units,Avg_Pay_Decision_Units,Avg_time_promotion,Gender_Time_service
0,0,42.00,4.00,33,7.00,2,3.00,4,0.75,1394,0.18,47.71,44.11,28.00,4,2,46.56,47.16,46.26,5.88,3.00,13.02
1,1,24.00,5.00,36,6.00,2,4.00,3,-0.96,1173,0.07,47.20,46.59,18.00,9,6,46.63,47.27,45.72,5.98,2.44,12.88
2,2,58.00,27.00,51,8.00,2,1.00,4,-0.96,193,0.09,47.26,51.11,24.00,6,4,46.09,47.71,45.23,6.00,2.50,13.02
3,3,26.00,4.00,56,8.00,2,1.00,3,-1.82,344,0.07,49.17,46.56,24.00,9,6,48.31,47.11,50.29,6.10,2.56,13.42
4,4,31.00,5.00,62,2.00,3,3.00,1,0.75,1173,0.18,46.83,46.59,2.00,3,9,46.63,47.11,46.62,5.90,3.00,13.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,6995,23.00,4.00,20,6.00,3,3.00,1,0.75,706,0.78,45.32,45.67,30.00,10,6,47.30,47.71,47.21,6.02,2.07,13.42
6996,6996,44.00,16.00,59,4.00,3,3.00,2,-0.10,680,0.11,46.71,41.46,4.00,2,6,47.75,47.71,48.54,5.94,2.00,12.65
6997,6997,49.00,10.00,59,3.00,2,4.00,2,-0.10,1394,0.78,46.56,53.92,9.00,6,4,46.56,47.71,46.66,6.10,2.75,13.35
6998,6998,47.00,24.00,21,8.00,0,2.00,4,0.75,943,0.42,46.65,40.50,24.00,15,0,46.72,47.45,43.85,6.26,2.20,13.42
6999,6999,58.00,22.00,74,5.00,2,3.00,3,-0.10,1394,0.09,47.26,50.75,15.00,12,8,46.56,46.52,46.66,6.10,2.00,13.35

In [30]:
test=pd.read_csv(path1)
test

,Unnamed: 0,Age,Time_of_service,growth_rate,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,Unit_counts,Avg_growth_Age,Avg_Service_growth,Education_Pay_scale,Education_Post_Level,Post_Compensation,Avg_units_growth,Gender_growth,Avg_growth_Decision_Units,Avg_Pay_Decision_Units,Avg_time_promotion,Gender_Time_service
0,0,32.00,7.00,30,4.00,2,1.00,3,-0.96,680,45.78,39.00,20.00,25,10,47.75,46.73,49.24,5.91,4.00,12.87
1,1,65.00,41.00,72,1.00,2,1.00,4,-0.96,1394,49.49,72.00,2.00,2,2,46.85,45.67,47.88,6.01,2.00,13.66
2,2,52.00,21.00,25,8.00,3,1.00,4,-0.10,943,43.58,41.00,24.00,3,3,46.97,45.67,48.14,6.23,2.75,13.66
3,3,50.00,11.00,28,2.00,0,4.00,3,-0.10,212,46.33,38.25,10.00,5,0,49.29,45.67,48.77,6.23,4.00,12.89
4,4,44.00,12.00,47,2.00,2,4.00,4,1.61,680,48.79,50.79,6.00,9,6,47.75,47.25,49.24,5.91,3.33,12.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2995,32.00,3.00,38,6.00,2,2.00,1,-0.10,943,45.78,44.62,18.00,9,6,46.97,47.25,48.14,6.23,2.75,13.33
2996,2996,38.00,10.00,57,9.00,2,1.00,3,0.75,212,46.43,51.33,18.00,8,8,49.29,47.86,48.50,5.81,2.00,12.87
2997,2997,60.00,35.00,69,9.00,3,3.00,3,-1.82,1173,45.56,71.50,36.00,8,6,46.46,46.47,47.62,6.04,1.00,13.55
2998,2998,51.00,23.00,30,6.00,3,1.00,5,0.75,1394,47.59,54.67,6.00,2,6,46.85,46.47,46.62,6.35,1.50,13.06
2999,2999,45.00,12.00,70,8.00,4,4.00,3,0.75,943,47.36,50.75,8.00,2,8,46.97,46.47,48.14,6.23,4.00,13.33

In [31]:
def mean_encode(train_data, test_data, columns, target_col, reg_method=None,
                alpha=5, add_random=False, rmean=0, rstd=0.1, folds=1):
    '''Returns a DataFrame with encoded columns'''
    encoded_cols = []
    target_mean_global = train_data[target_col].mean()
    for col in columns:
        # Getting means for test data
        nrows_cat = train_data.groupby(col)[target_col].count()
        target_means_cats = train_data.groupby(col)[target_col].mean()
        target_means_cats_adj = (target_means_cats*nrows_cat + 
                                 target_mean_global*alpha)/(nrows_cat+alpha)
        # Mapping means to test data
        encoded_col_test = test_data[col].map(target_means_cats_adj)
        # Getting a train encodings
        if reg_method == 'expanding_mean':
            train_data_shuffled = train_data.sample(frac=1, random_state=1)
            cumsum = train_data_shuffled.groupby(col)[target_col].cumsum() - train_data_shuffled[target_col]
            cumcnt = train_data_shuffled.groupby(col).cumcount()
            encoded_col_train = cumsum/(cumcnt)
            encoded_col_train.fillna(target_mean_global, inplace=True)
            if add_random:
                encoded_col_train = encoded_col_train + normal(loc=rmean, scale=rstd, 
                                                               size=(encoded_col_train.shape[0]))
        elif (reg_method == 'k_fold') and (folds > 1):
            kfold = KFold( n_splits = 10, shuffle = False)
            parts = []
            for tr_in, val_ind in kfold.split(train_data):
                # divide data
                df_for_estimation, df_estimated = train_data.iloc[tr_in], train_data.iloc[val_ind]
                # getting means on data for estimation (all folds except estimated)
                nrows_cat = df_for_estimation.groupby(col)[target_col].count()
                target_means_cats = df_for_estimation.groupby(col)[target_col].mean()
                target_means_cats_adj = (target_means_cats*nrows_cat + 
                                         target_mean_global*alpha)/(nrows_cat+alpha)
                # Mapping means to estimated fold
                encoded_col_train_part = df_estimated[col].map(target_means_cats_adj)
                if add_random:
                    encoded_col_train_part = encoded_col_train_part + normal(loc=rmean, scale=rstd, 
                                                                             size=(encoded_col_train_part.shape[0]))
                # Saving estimated encodings for a fold
                
                parts.append(encoded_col_train_part)
            encoded_col_train = pd.concat(parts, axis=0)
            encoded_col_train.fillna(target_mean_global, inplace=True)
        else:
            encoded_col_train = train_data[col].map(target_means_cats_adj)
            if add_random:
                encoded_col_train = encoded_col_train + normal(loc=rmean, scale=rstd, 
                                                               size=(encoded_col_train.shape[0]))

        # Saving the column with means
        encoded_col = pd.concat([encoded_col_train, encoded_col_test], axis=0)
        encoded_col[encoded_col.isnull()] = target_mean_global
        encoded_cols.append(pd.DataFrame({'mean_'+target_col+'_'+col:encoded_col}))
    all_encoded = pd.concat(encoded_cols, axis=1)
    return all_encoded

In [32]:
cols = ['Age', 'Time_of_service', 'growth_rate', 'Pay_Scale',
       'Compensation_and_Benefits', 'Work_Life_balance', 'VAR1', 'VAR2',
       'Unit_counts', 'Avg_growth_Age', 'Avg_Service_growth',
       'Education_Pay_scale', 'Education_Post_Level', 'Post_Compensation',
       'Avg_units_growth', 'Gender_growth', 'Avg_growth_Decision_Units',
       'Avg_Pay_Decision_Units', 'Avg_time_promotion', 'Gender_Time_service']
target = 'Attrition_rate'
finaldf = mean_encode(train,test,cols,target,reg_method='k_fold',folds=5)

In [33]:
train_encoded=finaldf.iloc[0:7000,:]

In [34]:
test_encoded = finaldf.iloc[7000:,:]

In [35]:
train_encoded

,mean_Attrition_rate_Age,mean_Attrition_rate_Time_of_service,mean_Attrition_rate_growth_rate,mean_Attrition_rate_Pay_Scale,mean_Attrition_rate_Compensation_and_Benefits,mean_Attrition_rate_Work_Life_balance,mean_Attrition_rate_VAR1,mean_Attrition_rate_VAR2,mean_Attrition_rate_Unit_counts,mean_Attrition_rate_Avg_growth_Age,mean_Attrition_rate_Avg_Service_growth,mean_Attrition_rate_Education_Pay_scale,mean_Attrition_rate_Education_Post_Level,mean_Attrition_rate_Post_Compensation,mean_Attrition_rate_Avg_units_growth,mean_Attrition_rate_Gender_growth,mean_Attrition_rate_Avg_growth_Decision_Units,mean_Attrition_rate_Avg_Pay_Decision_Units,mean_Attrition_rate_Avg_time_promotion,mean_Attrition_rate_Gender_Time_service
0,0.20,0.19,0.20,0.19,0.19,0.19,0.19,0.19,0.18,0.20,0.23,0.17,0.19,0.18,0.18,0.19,0.19,0.19,0.19,0.19
1,0.18,0.19,0.20,0.19,0.19,0.19,0.19,0.20,0.19,0.18,0.24,0.18,0.19,0.18,0.19,0.19,0.19,0.19,0.17,0.19
2,0.17,0.21,0.17,0.19,0.19,0.18,0.19,0.20,0.19,0.17,0.20,0.19,0.19,0.19,0.19,0.18,0.17,0.17,0.18,0.19
3,0.18,0.19,0.21,0.19,0.19,0.18,0.19,0.19,0.19,0.18,0.17,0.19,0.19,0.18,0.19,0.19,0.15,0.15,0.20,0.18
4,0.20,0.19,0.20,0.20,0.18,0.19,0.20,0.19,0.19,0.20,0.24,0.21,0.19,0.18,0.19,0.19,0.19,0.19,0.19,0.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,0.19,0.19,0.19,0.18,0.19,0.19,0.20,0.18,0.20,0.19,0.22,0.18,0.20,0.18,0.20,0.17,0.18,0.18,0.16,0.18
6996,0.20,0.17,0.19,0.19,0.19,0.19,0.18,0.19,0.20,0.20,0.22,0.19,0.19,0.18,0.20,0.17,0.20,0.20,0.19,0.19
6997,0.19,0.20,0.19,0.20,0.19,0.19,0.18,0.19,0.18,0.19,0.20,0.19,0.19,0.19,0.18,0.17,0.19,0.19,0.19,0.19
6998,0.19,0.19,0.20,0.19,0.21,0.19,0.19,0.18,0.19,0.19,0.17,0.19,0.19,0.21,0.19,0.19,0.18,0.18,0.19,0.18
6999,0.17,0.18,0.18,0.19,0.19,0.19,0.19,0.19,0.18,0.17,0.19,0.18,0.19,0.20,0.18,0.20,0.19,0.19,0.19,0.19

In [36]:
test_encoded

,mean_Attrition_rate_Age,mean_Attrition_rate_Time_of_service,mean_Attrition_rate_growth_rate,mean_Attrition_rate_Pay_Scale,mean_Attrition_rate_Compensation_and_Benefits,mean_Attrition_rate_Work_Life_balance,mean_Attrition_rate_VAR1,mean_Attrition_rate_VAR2,mean_Attrition_rate_Unit_counts,mean_Attrition_rate_Avg_growth_Age,mean_Attrition_rate_Avg_Service_growth,mean_Attrition_rate_Education_Pay_scale,mean_Attrition_rate_Education_Post_Level,mean_Attrition_rate_Post_Compensation,mean_Attrition_rate_Avg_units_growth,mean_Attrition_rate_Gender_growth,mean_Attrition_rate_Avg_growth_Decision_Units,mean_Attrition_rate_Avg_Pay_Decision_Units,mean_Attrition_rate_Avg_time_promotion,mean_Attrition_rate_Gender_Time_service
0,0.21,0.19,0.20,0.19,0.19,0.18,0.19,0.20,0.20,0.19,0.20,0.19,0.20,0.19,0.19,0.19,0.19,0.19,0.22,0.19
1,0.20,0.17,0.17,0.18,0.19,0.18,0.19,0.20,0.18,0.19,0.28,0.21,0.19,0.18,0.19,0.19,0.19,0.19,0.19,0.19
2,0.17,0.19,0.17,0.19,0.18,0.18,0.19,0.19,0.19,0.19,0.16,0.19,0.19,0.20,0.19,0.19,0.19,0.19,0.20,0.19
3,0.17,0.20,0.20,0.20,0.22,0.19,0.19,0.19,0.19,0.19,0.19,0.18,0.19,0.22,0.19,0.19,0.19,0.19,0.22,0.19
4,0.20,0.20,0.22,0.20,0.19,0.19,0.19,0.18,0.20,0.19,0.19,0.19,0.19,0.18,0.19,0.19,0.19,0.19,0.17,0.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0.21,0.20,0.19,0.19,0.19,0.19,0.21,0.19,0.19,0.19,0.19,0.18,0.19,0.18,0.19,0.19,0.19,0.19,0.20,0.19
2996,0.24,0.20,0.19,0.18,0.19,0.18,0.19,0.19,0.19,0.19,0.31,0.18,0.18,0.20,0.19,0.19,0.19,0.19,0.19,0.19
2997,0.20,0.14,0.21,0.18,0.18,0.19,0.19,0.19,0.18,0.19,0.19,0.18,0.18,0.18,0.19,0.19,0.19,0.19,0.18,0.19
2998,0.20,0.16,0.20,0.19,0.18,0.18,0.20,0.19,0.18,0.19,0.19,0.19,0.19,0.18,0.19,0.19,0.19,0.19,0.20,0.19
2999,0.16,0.20,0.20,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.18,0.21,0.19,0.20,0.19,0.19,0.19,0.19,0.22,0.19

In [37]:
label=train['Attrition_rate']
train_encoded=pd.concat([train_encoded,label],1)

In [38]:
#RandomForestRegressor(random_state=9,bootstrap=True,max_depth=5,max_features='sqrt',min_samples_leaf=4,min_samples_split=2,n_estimators=300)

In [42]:
train_encoded

,mean_Attrition_rate_Age,mean_Attrition_rate_Time_of_service,mean_Attrition_rate_growth_rate,mean_Attrition_rate_Pay_Scale,mean_Attrition_rate_Compensation_and_Benefits,mean_Attrition_rate_Work_Life_balance,mean_Attrition_rate_VAR1,mean_Attrition_rate_VAR2,mean_Attrition_rate_Unit_counts,mean_Attrition_rate_Avg_growth_Age,mean_Attrition_rate_Avg_Service_growth,mean_Attrition_rate_Education_Pay_scale,mean_Attrition_rate_Education_Post_Level,mean_Attrition_rate_Post_Compensation,mean_Attrition_rate_Avg_units_growth,mean_Attrition_rate_Gender_growth,mean_Attrition_rate_Avg_growth_Decision_Units,mean_Attrition_rate_Avg_Pay_Decision_Units,mean_Attrition_rate_Avg_time_promotion,mean_Attrition_rate_Gender_Time_service,Attrition_rate
0,0.20,0.19,0.20,0.19,0.19,0.19,0.19,0.19,0.18,0.20,0.23,0.17,0.19,0.18,0.18,0.19,0.19,0.19,0.19,0.19,0.18
1,0.18,0.19,0.20,0.19,0.19,0.19,0.19,0.20,0.19,0.18,0.24,0.18,0.19,0.18,0.19,0.19,0.19,0.19,0.17,0.19,0.07
2,0.17,0.21,0.17,0.19,0.19,0.18,0.19,0.20,0.19,0.17,0.20,0.19,0.19,0.19,0.19,0.18,0.17,0.17,0.18,0.19,0.09
3,0.18,0.19,0.21,0.19,0.19,0.18,0.19,0.19,0.19,0.18,0.17,0.19,0.19,0.18,0.19,0.19,0.15,0.15,0.20,0.18,0.07
4,0.20,0.19,0.20,0.20,0.18,0.19,0.20,0.19,0.19,0.20,0.24,0.21,0.19,0.18,0.19,0.19,0.19,0.19,0.19,0.19,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,0.19,0.19,0.19,0.18,0.19,0.19,0.20,0.18,0.20,0.19,0.22,0.18,0.20,0.18,0.20,0.17,0.18,0.18,0.16,0.18,0.78
6996,0.20,0.17,0.19,0.19,0.19,0.19,0.18,0.19,0.20,0.20,0.22,0.19,0.19,0.18,0.20,0.17,0.20,0.20,0.19,0.19,0.11
6997,0.19,0.20,0.19,0.20,0.19,0.19,0.18,0.19,0.18,0.19,0.20,0.19,0.19,0.19,0.18,0.17,0.19,0.19,0.19,0.19,0.78
6998,0.19,0.19,0.20,0.19,0.21,0.19,0.19,0.18,0.19,0.19,0.17,0.19,0.19,0.21,0.19,0.19,0.18,0.18,0.19,0.18,0.42
6999,0.17,0.18,0.18,0.19,0.19,0.19,0.19,0.19,0.18,0.17,0.19,0.18,0.19,0.20,0.18,0.20,0.19,0.19,0.19,0.19,0.09

In [41]:
test_encoded

,mean_Attrition_rate_Age,mean_Attrition_rate_Time_of_service,mean_Attrition_rate_growth_rate,mean_Attrition_rate_Pay_Scale,mean_Attrition_rate_Compensation_and_Benefits,mean_Attrition_rate_Work_Life_balance,mean_Attrition_rate_VAR1,mean_Attrition_rate_VAR2,mean_Attrition_rate_Unit_counts,mean_Attrition_rate_Avg_growth_Age,mean_Attrition_rate_Avg_Service_growth,mean_Attrition_rate_Education_Pay_scale,mean_Attrition_rate_Education_Post_Level,mean_Attrition_rate_Post_Compensation,mean_Attrition_rate_Avg_units_growth,mean_Attrition_rate_Gender_growth,mean_Attrition_rate_Avg_growth_Decision_Units,mean_Attrition_rate_Avg_Pay_Decision_Units,mean_Attrition_rate_Avg_time_promotion,mean_Attrition_rate_Gender_Time_service
0,0.21,0.19,0.20,0.19,0.19,0.18,0.19,0.20,0.20,0.19,0.20,0.19,0.20,0.19,0.19,0.19,0.19,0.19,0.22,0.19
1,0.20,0.17,0.17,0.18,0.19,0.18,0.19,0.20,0.18,0.19,0.28,0.21,0.19,0.18,0.19,0.19,0.19,0.19,0.19,0.19
2,0.17,0.19,0.17,0.19,0.18,0.18,0.19,0.19,0.19,0.19,0.16,0.19,0.19,0.20,0.19,0.19,0.19,0.19,0.20,0.19
3,0.17,0.20,0.20,0.20,0.22,0.19,0.19,0.19,0.19,0.19,0.19,0.18,0.19,0.22,0.19,0.19,0.19,0.19,0.22,0.19
4,0.20,0.20,0.22,0.20,0.19,0.19,0.19,0.18,0.20,0.19,0.19,0.19,0.19,0.18,0.19,0.19,0.19,0.19,0.17,0.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0.21,0.20,0.19,0.19,0.19,0.19,0.21,0.19,0.19,0.19,0.19,0.18,0.19,0.18,0.19,0.19,0.19,0.19,0.20,0.19
2996,0.24,0.20,0.19,0.18,0.19,0.18,0.19,0.19,0.19,0.19,0.31,0.18,0.18,0.20,0.19,0.19,0.19,0.19,0.19,0.19
2997,0.20,0.14,0.21,0.18,0.18,0.19,0.19,0.19,0.18,0.19,0.19,0.18,0.18,0.18,0.19,0.19,0.19,0.19,0.18,0.19
2998,0.20,0.16,0.20,0.19,0.18,0.18,0.20,0.19,0.18,0.19,0.19,0.19,0.19,0.18,0.19,0.19,0.19,0.19,0.20,0.19
2999,0.16,0.20,0.20,0.19,0.19,0.19,0.19,0.19,0.19,0.19,0.18,0.21,0.19,0.20,0.19,0.19,0.19,0.19,0.22,0.19

In [43]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_log_error
from sklearn import model_selection
from sklearn import metrics
from sklearn.ensemble import GradientBoostingRegressor

X = train_encoded.drop('Attrition_rate',1)
y = train_encoded['Attrition_rate']
Xt = test_encoded


SEED = 42

FOLD=10

test_preds = np.zeros(len(Xt))

# k-fold cross validation
scores=list()
kf = KFold(n_splits=FOLD, shuffle=True,random_state=SEED)

# enumerate splits

for train_idx, test_idx in tqdm(kf.split(X, y)):
    # get data
    X_train, y_train = X.iloc[train_idx, :], y[train_idx]
    X_test, y_test = X.iloc[test_idx, :], y[test_idx]
    test=Xt
    # fit model
    model = RandomForestRegressor(random_state=9,bootstrap=True,max_depth=5,max_features='sqrt',min_samples_leaf=4,min_samples_split=2,n_estimators=300)
    model.fit(X_train,np.log1p(y_train))
    # evaluate model
    yhat = np.expm1((model.predict(X_test)))
    test_preds += np.expm1((model.predict(test)))/FOLD
    acc=100*max(0,1-np.sqrt(mean_squared_error(y_test,yhat)))
    


    
    # store score
    scores.append(acc)
    print('> ', acc)
    
# summarize model performance
# summarize model performance
mean_s= np.mean(scores)
print('Mean: %.3f' % (mean_s))

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=4,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=300, n_jobs=None, oob_score=False,
                      random_state=9, verbose=0, warm_start=False)

>  80.14187525591879

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=4,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=300, n_jobs=None, oob_score=False,
                      random_state=9, verbose=0, warm_start=False)

>  82.63503350366163

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=4,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=300, n_jobs=None, oob_score=False,
                      random_state=9, verbose=0, warm_start=False)

>  80.17223828915067

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=4,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=300, n_jobs=None, oob_score=False,
                      random_state=9, verbose=0, warm_start=False)

>  80.37083471825397

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=4,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=300, n_jobs=None, oob_score=False,
                      random_state=9, verbose=0, warm_start=False)

>  82.00847966943081

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=4,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=300, n_jobs=None, oob_score=False,
                      random_state=9, verbose=0, warm_start=False)

>  81.31543908957168

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=4,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=300, n_jobs=None, oob_score=False,
                      random_state=9, verbose=0, warm_start=False)

>  81.61809488917396

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=4,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=300, n_jobs=None, oob_score=False,
                      random_state=9, verbose=0, warm_start=False)

>  81.63115984104756

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=4,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=300, n_jobs=None, oob_score=False,
                      random_state=9, verbose=0, warm_start=False)

>  82.46252895198782

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=4,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=300, n_jobs=None, oob_score=False,
                      random_state=9, verbose=0, warm_start=False)

>  82.1879012957413

Mean: 81.454

In [44]:
test_preds=pd.DataFrame(test_preds)

In [45]:
test=pd.read_csv('./Test.csv')
test.head()

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
0,EID_22713,F,32.00,5,Single,Springfield,R&D,Conceptual,7.00,4,30,1,5,4.00,type2,1.00,3,-0.96,-0.45,2.00,1,8,4
1,EID_9658,M,65.00,2,Single,Lebanon,IT,Directive,41.00,2,72,1,1,1.00,type2,1.00,4,-0.96,0.71,1.00,2,8,2
2,EID_22203,M,52.00,3,Married,Springfield,Sales,Directive,21.00,3,25,0,1,8.00,type3,1.00,4,-0.10,0.71,2.00,1,9,3
3,EID_7652,M,50.00,5,Single,Washington,Marketing,Analytical,11.00,4,28,1,1,2.00,type0,4.00,3,-0.10,0.71,2.00,2,8,3
4,EID_6516,F,44.00,3,Married,Franklin,R&D,Conceptual,12.00,4,47,1,3,2.00,type2,4.00,4,1.61,0.71,2.00,2,7,4

In [46]:
id_cols=test['Employee_ID']

In [47]:
test_preds.columns=['Attrition_rate']

In [48]:
submit=pd.concat([id_cols,test_preds],1)
submit.to_csv('rf-new_submit.csv')

In [49]:
submit

     Employee_ID  Attrition_rate
0      EID_22713            0.17
1       EID_9658            0.18
2      EID_22203            0.18
3       EID_7652            0.18
4       EID_6516            0.17
...          ...             ...
2995   EID_22547            0.19
2996   EID_10066            0.19
2997    EID_7126            0.18
2998    EID_4929            0.18
2999   EID_24750            0.20

[3000 rows x 2 columns]